.app{
    min-height: 100vh;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.tweet{
    padding: 30px;
    height:300px;
    width:300px;
    background: white;
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

.serif {
    font-family: Helvetica, Alto, "Times New Roman", Times, serif;
}

.red{
    color : red;
    }